In [1]:
import pandas as pd
import re
import json

In [2]:
tmovies_df=pd.read_csv('tmdb_5000_movies.csv')
credits_df=pd.read_csv('tmdb_5000_credits.csv')
movies_df=pd.read_csv('movies.csv')

/var/folders/9y/yt_hy0312gq_0j82m9rj645h0000gn/T/ipykernel_5179/2075304888.py:2: DtypeWarning: Columns (0,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264) have mixed types. Specify dtype option on import or set low_memory=False.
  credits_df=pd.read_csv('tmdb_5000_credits.csv')

In [3]:
tmovies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [4]:
tmovies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/09,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/19/07,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",10/26/15,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",7/16/12,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",3/7/12,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
def extract_names(data):
    try:
        data_list = json.loads(data)
        names = [person['name'] for person in data_list if 'name' in person]
        return ', '.join(names)
    except (json.JSONDecodeError, TypeError):
        return None  

tmovies_df['genres'] = tmovies_df['genres'].apply(extract_names)
tmovies_df['keywords'] = tmovies_df['keywords'].apply(extract_names)
tmovies_df['production_companies'] = tmovies_df['production_companies'].apply(extract_names)
tmovies_df['production_countries'] = tmovies_df['production_countries'].apply(extract_names)
tmovies_df['spoken_languages'] = tmovies_df['spoken_languages'].apply(extract_names)

# columns 'homepage' has little meaning, so drop it. columns 'original tile' and 'title' express almost the same meaning, so drop 'original title'
tmovies_df=tmovies_df.drop(['homepage','original_title'],axis=1)
tmovies_df.head()

,budget,genres,id,keywords,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"Action, Adventure, Fantasy, Science Fiction",19995,"culture clash, future, space war, space colony...",en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"Ingenious Film Partners, Twentieth Century Fox...","United States of America, United Kingdom",12/10/09,2787965087,162.0,"English, Español",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"Adventure, Fantasy, Action",285,"ocean, drug abuse, exotic island, east india t...",en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"Walt Disney Pictures, Jerry Bruckheimer Films,...",United States of America,5/19/07,961000000,169.0,English,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"Action, Adventure, Crime",206647,"spy, based on novel, secret agent, sequel, mi6...",en,A cryptic message from Bond’s past sends him o...,107.376788,"Columbia Pictures, Danjaq, B24","United Kingdom, United States of America",10/26/15,880674609,148.0,"Français, English, Español, Italiano, Deutsch",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"Action, Crime, Drama, Thriller",49026,"dc comics, crime fighter, terrorist, secret id...",en,Following the death of District Attorney Harve...,112.312950,"Legendary Pictures, Warner Bros., DC Entertain...",United States of America,7/16/12,1084939099,165.0,English,Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"Action, Adventure, Science Fiction",49529,"based on novel, mars, medallion, space travel,...",en,"John Carter is a war-weary, former military ca...",43.926995,Walt Disney Pictures,United States of America,3/7/12,284139100,132.0,English,Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
credits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4813 entries, 0 to 4812
Columns: 1265 entries, movie_id to Unnamed: 1264
dtypes: object(1265)
memory usage: 46.5+ MB

In [7]:
# credits file contains two special columns which are cast and crew, they occupy too many columns
# treat with these two columns and leave only name info
def extract_names(data):
    try:
        data_list = json.loads(data)
        names = [person['name'] for person in data_list if 'name' in person]
        return ', '.join(names)
    except (json.JSONDecodeError, TypeError):
        return None  

credits_df['cast_names'] = credits_df['cast'].apply(extract_names)
credits_df['crew_names'] = credits_df['crew'].apply(extract_names)

credits_df = credits_df[['movie_id', 'title', 'cast_names', 'crew_names']]

credits_df.head()

,movie_id,title,cast_names,crew_names
0,19995,Avatar,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Stephen E. Rivkin, Rick Carter, Christopher Bo..."
1,285,Pirates of the Caribbean: At World's End,"Johnny Depp, Orlando Bloom, Keira Knightley, S...","Dariusz Wolski, Gore Verbinski, Jerry Bruckhei..."
2,206647,Spectre,"Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...","Thomas Newman, Sam Mendes, Anna Pinnock, John ..."
3,49026,The Dark Knight Rises,"Christian Bale, Michael Caine, Gary Oldman, An...","Hans Zimmer, Charles Roven, Christopher Nolan,..."
4,49529,John Carter,"Taylor Kitsch, Lynn Collins, Samantha Morton, ...","Andrew Stanton, Andrew Stanton, John Lasseter,..."

In [8]:
credits_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4813 entries, 0 to 4812
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movie_id    4812 non-null   object
 1   title       4813 non-null   object
 2   cast_names  4799 non-null   object
 3   crew_names  4793 non-null   object
dtypes: object(4)
memory usage: 150.5+ KB

In [9]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [10]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
movies_df["title"] = movies_df["title"].str.replace(r"\s*\(\d{4}\)", "", regex=True)

In [12]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy

In [13]:
# merge 'tmdb_5000_movies.csv','tmdb_5000_credits.csv' and 'movies.csv'
merged_df = pd.merge(tmovies_df, credits_df,on=['title'], how='inner')
merged_df = pd.merge(merged_df, movies_df,on=['title'], how='inner')

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2790 entries, 0 to 2789
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                2790 non-null   int64
 1   genres_x              2790 non-null   object
 2   id                    2790 non-null   int64
 3   keywords              2790 non-null   object
 4   original_language     2790 non-null   object
 5   overview              2790 non-null   object
 6   popularity            2790 non-null   float64
 7   production_companies  2790 non-null   object
 8   production_countries  2790 non-null   object
 9   release_date          2790 non-null   object
 10  revenue               2790 non-null   int64
 11  runtime               2790 non-null   float64
 12  spoken_languages      2790 non-null   object
 13  status                2790 non-null   object
 14  tagline               2523 non-null   object
 15  title                 2790 non-null   object
 16  vote_average          2790 non-null   float64
 17  vote_count            2790 non-null   int64
 18  movie_id              2790 non-null   object
 19  cast_names            2787 non-null   object
 20  crew_names            2784 non-null   object
 21  movieId               2790 non-null   int64
 22  genres_y              2790 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 501.5+ KB

In [14]:
# combine 'genres_x' and 'genres_y'
merged_df["genres"] = merged_df["genres_x"].fillna('') + "|" + merged_df["genres_y"].fillna('')
def clean_genres(genres):
    if isinstance(genres, str):
        unique_genres = set(genres.replace(",", "|").split("|")) 
        return ",".join(sorted(unique_genres))  
    return ""

merged_df["genres"] = merged_df["genres"].apply(clean_genres) 

# combine 'original_language' and 'spoken_languages'
merged_df["language"] = merged_df["original_language"].fillna('') + "|" + merged_df["spoken_languages"].fillna('')
merged_df["language"] = merged_df["language"].apply(lambda x: "|".join([lang for lang in x.split("|") if lang != "en"]) if isinstance(x, str) else x)
merged_df["language"] = merged_df["language"].str.strip("|")
merged_df["language"] = merged_df["language"].str.strip("|") 

# delete the redunt columns
merged_df.drop(columns=["genres_x","genres_y", "original_language", "spoken_languages", "movieId","id"], inplace=True)

# delete duplicated lines
merged_df = merged_df.drop_duplicates(subset=['title'], keep='first')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2769 entries, 0 to 2789
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                2769 non-null   int64
 1   keywords              2769 non-null   object
 2   overview              2769 non-null   object
 3   popularity            2769 non-null   float64
 4   production_companies  2769 non-null   object
 5   production_countries  2769 non-null   object
 6   release_date          2769 non-null   object
 7   revenue               2769 non-null   int64
 8   runtime               2769 non-null   float64
 9   status                2769 non-null   object
 10  tagline               2506 non-null   object
 11  title                 2769 non-null   object
 12  vote_average          2769 non-null   float64
 13  vote_count            2769 non-null   int64
 14  movie_id              2769 non-null   object
 15  cast_names            2766 non-null   object
 16  crew_names            2763 non-null   object
 17  genres                2769 non-null   object
 18  language              2769 non-null   object
dtypes: float64(3), int64(3), object(13)
memory usage: 432.7+ KB

In [15]:
merged_df.head()

,budget,keywords,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,movie_id,cast_names,crew_names,genres,language
0,237000000,"culture clash, future, space war, space colony...","In the 22nd century, a paraplegic Marine is di...",150.437577,"Ingenious Film Partners, Twentieth Century Fox...","United States of America, United Kingdom",12/10/09,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Stephen E. Rivkin, Rick Carter, Christopher Bo...",Adventure| Fantasy| Science Fiction|Action|Ad...,"English, Español"
1,300000000,"ocean, drug abuse, exotic island, east india t...","Captain Barbossa, long believed to be dead, ha...",139.082615,"Walt Disney Pictures, Jerry Bruckheimer Films,...",United States of America,5/19/07,961000000,169.0,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"Johnny Depp, Orlando Bloom, Keira Knightley, S...","Dariusz Wolski, Gore Verbinski, Jerry Bruckhei...",Action| Fantasy|Action|Adventure|Comedy|Fantasy,English
2,245000000,"spy, based on novel, secret agent, sequel, mi6...",A cryptic message from Bond’s past sends him o...,107.376788,"Columbia Pictures, Danjaq, B24","United Kingdom, United States of America",10/26/15,880674609,148.0,Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...","Thomas Newman, Sam Mendes, Anna Pinnock, John ...",Adventure| Crime|Action|Adventure|Crime,"Français, English, Español, Italiano, Deutsch"
3,260000000,"based on novel, mars, medallion, space travel,...","John Carter is a war-weary, former military ca...",43.926995,Walt Disney Pictures,United States of America,3/7/12,284139100,132.0,Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"Taylor Kitsch, Lynn Collins, Samantha Morton, ...","Andrew Stanton, Andrew Stanton, John Lasseter,...",Adventure| Science Fiction|Action|Adventure|I...,English
4,258000000,"dual identity, amnesia, sandstorm, love of one...",The seemingly invincible Spider-Man goes up ag...,115.699814,"Columbia Pictures, Laura Ziskin Productions, M...",United States of America,5/1/07,890871626,139.0,Released,The battle within.,Spider-Man 3,5.9,3576,559,"Tobey Maguire, Kirsten Dunst, James Franco, Th...","Francine Maisler, Joseph M. Caracciolo Jr., Sa...",Action| Adventure|Action|Adventure|Fantasy|IM...,"English, Français"

In [16]:
merged_df.to_csv('merged_movie.csv',index=False)